.nav {
    padding: 15px;
    grid-area: n;
    background-color: #2b3f4f;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.95;
}

.item a {
    color: #b0c4d4;
    text-decoration: none;
}

.item a:hover {
    display: block;
    background-color: #282c34;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px 50% 50% 3px;
}

.item a.active {
    color: white;
}